<a href="https://colab.research.google.com/github/shreyasstha/data/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
df = pd.read_csv('/content/student_info.csv')
print(df)

      Name   Age Grade  Gender  Score
0    Alice  20.0     A  Female   88.0
1      Bob  19.0   NaN    Male   75.0
2  Charlie   NaN     B    Male    NaN
3    David  21.0     A     NaN   92.0
4      Eva  22.0     C  Female   68.0
5    Frank  20.0     B    Male   80.0
6    Grace   NaN     A  Female   85.0
7   Hannah  23.0   NaN  Female    NaN
8      Ian  21.0     B     NaN   77.0
9     Jack  20.0     C    Male   79.0

In [9]:
print(df.columns)

Index(['Name', 'Age', 'Grade', 'Gender', 'Score'], dtype='object')

In [10]:
print(df.isnull().sum())

Name      0
Age       2
Grade     2
Gender    2
Score     2
dtype: int64

In [21]:
#dropped the column with NaN
df_cleaned = df.dropna()
print(df_cleaned)

    Name    Age Grade  Gender  Score
0  Alice  20.00     A  Female   88.0
4    Eva  22.00     C  Female   68.0
5  Frank  20.00     B    Male   80.0
6  Grace  20.75     A  Female   85.0
9   Jack  20.00     C    Male   79.0

In [54]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [50]:
df['Grade']= df['Grade'].fillna(df['Grade'].mode()[0])

In [51]:
df['Gender']= df['Gender'].fillna('Not Specified')

In [52]:
df['Score'] = df['Score'].fillna(df['Score'].median())

In [47]:
#df['Age'] = df['Age'].fillna(13)

In [55]:
print(df)

      Name    Age Grade         Gender  Score
0    Alice  20.00     A         Female   88.0
1      Bob  19.00     A           Male   75.0
2  Charlie  20.75     B           Male   79.5
3    David  21.00     A  Not Specified   92.0
4      Eva  22.00     C         Female   68.0
5    Frank  20.00     B           Male   80.0
6    Grace  20.75     A         Female   85.0
7   Hannah  23.00     A         Female   79.5
8      Ian  21.00     B  Not Specified   77.0
9     Jack  20.00     C           Male   79.0

In [56]:
df.to_csv("cleaned_students.csv", index=False)