<a href="https://colab.research.google.com/github/shreyasstha/data/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(dataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
myvar.index=["A", "B", "C"]
print(myvar)

    cars  passings
A    BMW         3
B  Volvo         7
C   Ford         2

In [ ]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country' :names, 'drives_right': dr,
'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)
cars.to_csv("cars.csv", index=False)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [ ]:
import pandas as pd
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

cars.index =[row_labels]

print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [ ]:
cars.loc[["AUS"]]

       country  drives_right  cars_per_cap
AUS  Australia         False           731

to read the dataframe:
cars = pd.read_csv(cars.csv)

In [ ]:
cars = pd.read_csv('/content/cars.csv')
print(cars['country'])

0    United States
1        Australia
2            Japan
3            India
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object

In [ ]:
cars = pd.read_csv('/content/cars.csv')
# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
   country  drives_right  cars_per_cap
3    India         False            18
4   Russia          True           200
5  Morocco          True            70

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv')

# Print out observation for Japan
cars.iloc[[2]]

# Print out observations for Australia and Egypt
print(cars.iloc[[1,6]])

     country  drives_right  cars_per_cap
1  Australia         False           731
6      Egypt          True            45

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars.loc[: , 'drives_right'])

# Print out drives_right column as DataFrame
print(cars.loc[: , ['drives_right']])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap', 'drives_right']])

country
United States     True
Australia        False
Japan            False
India            False
Russia            True
Morocco           True
Egypt             True
Name: drives_right, dtype: bool
               drives_right
country
United States          True
Australia             False
Japan                 False
India                 False
Russia                 True
Morocco                True
Egypt                  True
               cars_per_cap  drives_right
country
United States           809          True
Australia               731         False
Japan                   588         False
India                    18         False
Russia                  200          True
Morocco                  70          True
Egypt                    45          True