<a href="https://colab.research.google.com/github/shreyasstha/data/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#pandas

In [ ]:
import pandas as pd

dataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(dataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [ ]:
myvar.index=["A", "B", "C"]
print(myvar)

    cars  passings
A    BMW         3
B  Volvo         7
C   Ford         2

In [14]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country' :names, 'drives_right': dr,
'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)
cars.to_csv("cars.csv", index=False)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [ ]:
import pandas as pd
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

cars.index =[row_labels]

print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [ ]:
cars.loc[["AUS"]]

       country  drives_right  cars_per_cap
AUS  Australia         False           731

to read the dataframe:
cars = pd.read_csv(cars.csv)

In [ ]:
cars = pd.read_csv('/content/cars.csv')
print(cars['country'])

0    United States
1        Australia
2            Japan
3            India
4           Russia
5          Morocco
6            Egypt
Name: country, dtype: object

In [ ]:
cars = pd.read_csv('/content/cars.csv')
# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
   country  drives_right  cars_per_cap
3    India         False            18
4   Russia          True           200
5  Morocco          True            70

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv')

# Print out observation for Japan
cars.iloc[[2]]

# Print out observations for Australia and Egypt
print(cars.iloc[[1,6]])

     country  drives_right  cars_per_cap
1  Australia         False           731
6      Egypt          True            45

In [9]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)   # prints country row

# Print out drives_right column as Series
print(cars.loc[: , 'drives_right'])  # : =select all rows

# Print out drives_right column as DataFrame
print(cars.loc[: , ['drives_right']])

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:,['cars_per_cap', 'drives_right']])

country
United States     True
Australia        False
Japan            False
India            False
Russia            True
Morocco           True
Egypt             True
Name: drives_right, dtype: bool
               drives_right
country
United States          True
Australia             False
Japan                 False
India                 False
Russia                 True
Morocco                True
Egypt                  True
               cars_per_cap  drives_right
country
United States           809          True
Australia               731         False
Japan                   588         False
India                    18         False
Russia                  200          True
Morocco                  70          True
Egypt                    45          True

#filtering pandas dataframe

In [10]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Extract drives_right column as Series: dr
dr = cars.loc[:, 'drives_right']
sel = cars[dr]

print(sel)

               drives_right  cars_per_cap
country
United States          True           809
Russia                 True           200
Morocco                True            70
Egypt                  True            45

In [15]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

sel =cars[cars['drives_right']]
print(sel)

               drives_right  cars_per_cap
country
United States          True           809
Russia                 True           200
Morocco                True            70
Egypt                  True            45

In [18]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars.loc[:, 'cars_per_cap']
many_cars =cpc > 500
car_maniac = cars[many_cars]

print(car_maniac)

               drives_right  cars_per_cap
country
United States          True           809
Australia             False           731
Japan                 False           588

In [20]:
print(cars)

               drives_right  cars_per_cap
country
United States          True           809
Australia             False           731
Japan                 False           588
India                 False            18
Russia                 True           200
Morocco                True            70
Egypt                  True            45

In [19]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']  # Access the column directly
between = np.logical_and(cpc > 100, cpc < 500)  # This creates a boolean Series
medium = cars[between]  # Use the boolean Series to filter the DataFrame

# Print medium
print(medium)

         drives_right  cars_per_cap
country
Russia           True           200

#loop : while

In [1]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
      offset = offset -1
    else :
      offset = offset+1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

##for loop

In [2]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for elemets in areas:
    print(elemets)

11.25
18.0
20.0
10.75
9.5

In [3]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room" + str(index) + ": "+ str(a))

room0: 11.25
room1: 18.0
room2: 20.0
room3: 10.75
room4: 9.5

In [6]:
#to start from room1
for index, area in enumerate(areas) :
    print("room " + str(index+1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [7]:
# house list of lists
house = [["hallway", 11.25],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
         ["bathroom", 9.50]]

for x in (house):
    print("the "+ x[0] + " is " + str(x[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [8]:
#in dictionary
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

for key, value in europe.items():
    print("the capital of "+ key +" is "+ value)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [11]:
np_height= ([10, 20, 30, 45, 9, 50])
np_baseball = ([2,5,8,9,4,7])

# For loop over np_height
for elements in np_height:
    print(str(elements) + " inches ")

# For loop over np_baseball
for elements in np.nditer(np_baseball):
    print(elements)

10 inches
20 inches
30 inches
45 inches
9 inches
50 inches
(array(2), array(5), array(8), array(9), array(4), array(7))

In [20]:
# Import cars data
import pandas as pd
cars = pd.read_csv('/content/cars.csv', index_col = 0)

# Iterate over rows of cars
for lab, row in cars.iterrows():
    print(lab)
    print(row)

United States
drives_right    True
cars_per_cap     809
Name: United States, dtype: object
Australia
drives_right    False
cars_per_cap      731
Name: Australia, dtype: object
Japan
drives_right    False
cars_per_cap      588
Name: Japan, dtype: object
India
drives_right    False
cars_per_cap       18
Name: India, dtype: object
Russia
drives_right    True
cars_per_cap     200
Name: Russia, dtype: object
Morocco
drives_right    True
cars_per_cap      70
Name: Morocco, dtype: object
Egypt
drives_right    True
cars_per_cap      45
Name: Egypt, dtype: object

In [27]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv')

# Use .apply(str.upper)
for lab, row in cars.iterrows() :
    cars["COUNTRY"] = cars["country"].apply(str.upper)

print(cars)

         country  drives_right  cars_per_cap        COUNTRY
0  United States          True           809  UNITED STATES
1      Australia         False           731      AUSTRALIA
2          Japan         False           588          JAPAN
3          India         False            18          INDIA
4         Russia          True           200         RUSSIA
5        Morocco          True            70        MOROCCO
6          Egypt          True            45          EGYPT